.main {
    min-height: 93vh;
    width: 500px;
    display: flex;
    align-items: center;
    background-image: url("pexels-orest-sv-2062555.jpg");
    background-position: center;
    background-size: cover;
  }
  .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 20px;
    padding-top: 10px;
  }
  .intro-text {
    width: 100%;
    text-align: center;
  }
  .buttonContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  .landingbutton {
    width: 150px;
    height: 55px;
    
   
  }
  @media only screen and (min-width: 1200px) {
    .buttonContainer {
      padding: 0 200px;
    }
    .title {
      padding: 0 100px;
    }
  }
  .carousel{
   width: 850px;
   height: 700px;
  }
