.sidebar{
    width: 220px;
   
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;

}
.list-group a:hover {
    background-color: #344292ce; ;
    color: white;
    cursor:pointer;
}
/* Custom CSS for the sidebar */

/* Set a height for the sidebar */
.all{
    margin-top:10px;
    display:inline-flex;
    margin-right:10px;
}
.inf-content{
    border:1px solid #DDDDDD;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}	